<h1>Sign Up</h1>

<form method="POST" action="/register">

  <!-- Person's Name -->
  <label for="fullName">Name:</label>
  <input id="fullName" name="fullName">
  <br>

  <!-- Email -->
  <label for="email">Email:</label>
  <input id="email" name="email">
  <br>

  <!-- Book -->
  <label for="book">Favorite Book:</label>
  <input id="book" name="book">
  <br>

  <button type="submit">Sign Up</button>
</form>